# Ignore local package manager folders
node_modules
**/node_modules
web/node_modules
backend/vendor

# Ignore local builds
.next
**/out
web/.next
web/out

# Ignore Git versioning
.git
.gitignore

# Ignore AI Agent telemetry rules
.agents

# Ignore local databases
arche.db
arche.db-journal
backend/arche.db
backend/arche.db-journal
